[submodule "3rdparty/libexpat"]
	path = 3rdparty/libexpat
	url = https://github.com/libexpat/libexpat.git
[submodule "3rdparty/SDL"]
	path = 3rdparty/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "3rdparty/SDL_image"]
	path = 3rdparty/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
